<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
      <ion-icon color="danger" name="person-circle-outline"></ion-icon>
      <ion-label>
        <ion-text color="danger">
          Mi perfil
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label slot="start">Nombre:</ion-label>
      <ion-label class="ion-text-wrap">
        <ion-text color="medium">
          <h2>{{ usuario?.nombre }}</h2>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Apellidos:</ion-label>
      <ion-label class="ion-text-wrap">
        <ion-text color="medium">
          <h2>{{ usuario?.apellidos }}</h2>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Email:</ion-label>
      <ion-label class="ion-text-wrap">
        <ion-text color="medium">
          <h2>{{ usuario?.email }}</h2>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Telefono:</ion-label>
      <ion-label class="ion-text-wrap">
        <ion-text color="medium">
          <h2>{{ usuario?.telefono }}</h2>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item text-wrap>
      <ion-label slot="start">Dirección:</ion-label>
      <ion-label class="ion-text-wrap">
        <ion-text color="medium">
          <h2>{{ usuario?.direccion }}</h2>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
