<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #lista>
    <ion-item-sliding *ngFor="let notification of notifications">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="http://35.226.149.232/{{notification?.data.img}}">
        </ion-thumbnail>
        <ion-label>
          <h2 class="ion-text-wrap">{{ notification?.data.title }}</h2>
          <ion-text color="medium">
            <h3>{{ notification?.data.body }} test</h3>
          </ion-text>
        </ion-label>
      </ion-item> 
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="borrar()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> 
</ion-content>

