<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item-group>
  <ion-item-divider>
    <ion-label>
      <ion-text color="tertiary">
        Detalles de la cuenta
      </ion-text>
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label slot="start">Número de contrato:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>0001</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Plazo (Meses):</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>10 meses</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Inicio de contrato:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>2019-10-01</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Fin de contrato:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>2020-07-01</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Tasa de interés:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>12.00%</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Cap. orig. del crédito:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>{{ 1300 | currency }}</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Cap. actual del desarrollo:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>{{ 1300 | currency }}</h2>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider>
    <ion-label>
      <ion-text color="tertiary">
        Resumen de pagos
      </ion-text>
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label slot="start">Monto mensualidad:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>{{ 137 | currency }}</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Último pago:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>{{ 137 | currency }}</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Fecha último pago:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>2020-07-01</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Meses de atraso:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>5 meses</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Mensualidades restantes:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2>10 meses</h2>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Mensualidades vencidas:</ion-label>
    <ion-label>
      <ion-text color="medium">
        <h2> {{685 | currency }}  por 10 meses</h2>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-item-group>

<ion-list *ngFor="let post of posts">
  <ion-item>{{ post.title }} </ion-item>
</ion-list>

</ion-content>
