<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagar mensualidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>   
    <ion-card-content>
      <form [formGroup]="formPayment">
        <ion-item>
          <ion-label>Seleccione un desarrollo</ion-label>
          <ion-select
            formControlName = "desarrollo"
            name = "desarrollo"
            cancelText="Cancelar" 
            doneText="Ok"
            >
            <ion-select-option 
            *ngFor="let desarrollo of desarrollos" 
            value="{{ desarrollo.id_desarrollo_lote }}">{{ desarrollo.descripion }}
          </ion-select-option>
          </ion-select
          >
        </ion-item>  
        <ion-item>
            <ion-label>Elija un periodo</ion-label>
            <ion-datetime 
              
              (ionChange)="dateChanged($event)"
              monthNames="{{meses}}"
              cancelText="Cancelar" 
              doneText="Ok" 
              displayFormat="MMMM-YYYY" 
              value="2020-01-15T13:47:20.789">
              
            </ion-datetime>
        </ion-item>
        <ion-button (click)="searchPaymentPeriod()" expand="block" shape="round">Buscar</ion-button>
      </form>
    </ion-card-content>  
  </ion-card>
  <iframe class="iframe-fix"
  src="https://wppsandbox.mit.com.mx/i/UIRW2ES1"
  width="320px" 
  height="750px" 
  frameborder="0" 
  scrolling="no"
  seamless="seamless"
  ></iframe>
</ion-content>

