<ion-header>
  <ion-toolbar>
    <ion-title>Estado de cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>   
    <ion-card-content>
      <ion-item>
        <ion-label>Seleccione un desarrollo</ion-label>
        <ion-select>
          <ion-select-option value="1">Mza 1 Mundus</ion-select-option>
          <ion-select-option value="2">Mza 2 Mundus</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button>Generar</ion-button>
    </ion-card-content>  
  </ion-card>
</ion-content>
